.signin {
    padding: 0 0 70px;
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: auto;
}

.signin__logo {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.signin__welcome {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    margin: 0 0 40px 0;
}

.signin__placeholder {
    color: #A0A0A0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    margin: 24px 0 0;
}

.signin__placeholder:first-child {
    margin: 0;
}

.signin__form-input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 0 10px 0;
    outline: none;
    width: 100%;
}

.signin__form-input-error {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.21;
    color: #EE3465;
}

.signin__form-input:focus {
    border-bottom: 2px solid #2BE080;
}

.signin__button-container {
    display: flex;
    flex-direction: column;
    padding: 197px 0 0;
}
.signin__res-server-error {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.21;
    color: #FF004C;
    text-align: center;
    margin-bottom: 10px;
}

.signin__button {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    width: 100%;
    padding: 0;
    border: none;
    padding: 13px 0 15px 0;
    outline: none;
    cursor: pointer;
    background: #2BE080;
    border-radius: 3px;
    color: #fff;
}

.signin__button_disabled {
    background: #d4d2d2;
    cursor: default;
}

.signin__button_disabled:hover {
    opacity: 1;
    transition: none;
}

.signin__button:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

.signin__signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #A0A0A0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 16px;
}

.signin__question-signup {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21;
    margin: 0;
}

.signin__login-link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21;
    cursor: pointer;
    color: #2BE080;
    text-decoration: none;
    margin-left: 6px;
}

.signin__login-link:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .signin {
        padding: 0 0 232px;
    }
    .signin__button-container {
        padding-top: 179px;
    }
    
}

@media screen and (max-width: 500px) {
    .signin {
        padding: 0 30px 30px;
        width: auto;
    }
    .signin__welcome {
        margin-bottom: 80px;
        text-align: center;
    }
    .signin__button-container {
        padding-top: 285px;
    }
    .signin__question-signup {
        font-size: 12px;
    }
    
    .signin__login-link {
        font-size: 12px;
    }
}